.row {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

// .top-hello-hover {
//     top: 43%;
//     left: 42%;
// }

// .bottom-hello-hover {
//     top: 63%;
//     left: 62%;
// }

.Main-content-wrapper {

    // max-width: 1200px;
    margin: 0 auto;

    .welcome-section {

        min-height: 100vh;
        width: 100%;


        .welcome-title {
            h1 {
                padding-top: calc(100vh - 60vh);
                font-size: 8em;
                text-align: left;
            } 

        }
        .welcome-text-container {
            width: 100%;
            // display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
            // justify-content: space-between;
            // align-items: flex-start;
            padding-top: 10vh;
            font-size: 18px;
            color: #433f40;

            .text-one {
                width: 300px;
                padding: 10px 0;

            }
            .text-two {
                // border: 1px solid black;
                width: 300px;
                padding: 10px 0;

            }
            .text-three {
                // border: 1px solid black;
                width: 300px;
                padding: 10px 0;

            }
        }
        



        // .h1-one {
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     z-index: 1;

 
        // }
        // .h1-two {
        //     position: absolute;
        //     top: 53%;
        //     left: 52%;
        //     transform: translate(-50%, -50%);
 

        //     color: white;
        //     -webkit-text-stroke: 1px black;

        //     // &:hover {
        //     //     top: 63%;
        //     //     left: 62%;
        //     // }
        // }
        // .h1-three {
        //     position: absolute;
        //     top: 47%;
        //     left: 48%;
        //     transform: translate(-50%, -50%);
        //     z-index: 1;
 

        //     color: white;
        //     -webkit-text-stroke: 1px black;


        // }
        
    }

    .project-section {
        // height: 1000px;
        width: 100%;
        // background-color: lightgray;

        // border: 1px solid black;

        .project-title {
            // border: 1px solid black;

            h2 {
                padding: 40px 0px;
                text-align: center;
                font-size: 2.5em;
            }
        }
        .projects-cards-container {

            width: 100%;

            .project-card {

                border: 1px solid green;
                border-radius: 8px;
                height: 400px;
                width: 320px;
                background-color: #433F40;
                margin: 20px 0;
                // background-color: rgb(245, 245, 245);
                // box-shadow: 4px 6px rgb(240, 239, 239);
            }
        }
    }

    // .project-section {
    //     // height: 1000px;
    //     padding-bottom: 20px;
    //     border: 1px solid black;

        
    //     h2 {
    //         text-align: center;
    //     }
    //     .project-types-titles {
    //         // width: 100%;
    //         // display: flex;
    //         // justify-content: space-evenly;
    //         // line-height: 50px;            
    //         // height: 50px;

    //         width: 100%;
    //         border: 1px solid black;
    //         text-align: center;
    //         padding: 10px 0px;

    
  

    //         .proj-link {
    //             padding: 0 50px;
    //             text-decoration: none;
    //             color: black;
    //             cursor: pointer;
    //             font-size: 18px;
    //             letter-spacing: 0.5px;
                
    //             &:hover {
    //                 color: #989ca6;
    //             }
    //         }

            
    //     }

    //     .projects-container {

    //         border: 1px solid black;
    //         display: flex;
    //         flex: 1;
    //         flex-wrap: wrap;
    //         justify-content: center;
            
            


    //         .test {
    //             // flex: 0 auto;
    //             height: 400px;
    //             width: 400px;

    //             border: 1px solid black;
    //         }
    //     }
    // }

    .about-section {
        background-color: lightgray;
        height: 1000px;
    }

}




@media only screen and (max-width: 1200px) {
    
    .Main-content-wrapper {
        margin: 0 40px;

        .welcome-section {

            h1 {

                font-size: 7em;
            }
        }
        .project-section {

            .project-types-titles {
            
                .proj-link {
                    padding: 0 20px;

                }
            }
        }
    }
}


@media only screen and (max-width: 1024px) {
    .Main-content-wrapper {



        .welcome-section {

            .welcome-title {

                h1 {
                    padding-top: calc(100vh - 70vh);
                    font-size: 5em;
                    text-align: center;
                } 
                // border: 1px solid black;
    
            }

            .welcome-text-container {
                width: 100%;
                
                justify-content: space-around;
                
                .text-one {
                    // border: 1px solid black;
                    width: 600px;

    
                }
                .text-two {
                    // border: 1px solid black;
                    width: 600px;

    
                }
                .text-three {
                    // border: 1px solid black;
                    width: 600px;

    
                }
            }    
        }
 
    }
}

@media only screen and (max-width: 842px) {

    .projects-cards-container {

        width: 100%;
        justify-content: space-around;


        .project-card {

            border: 1px solid green;
            border-radius: 8px;
            height: 400px;
            width: 320px;
            background-color: #433F40;
            margin: 20px 0;
            // background-color: rgb(245, 245, 245);
            // box-shadow: 4px 6px rgb(240, 239, 239);
        }
    }

}