// @font-face {
//     font-family: Helvetica;
//     src: url("C:\Users\Tommy\Documents\GitHub\react-portfolio\public\HelveticaNowDisplayXBlk.otf") format("opentype");
// }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif;
    
}

.hidden {
    display: none;
}

.App {

    // height: 100vh;
    width: 100%;
    // background-color: blue;
    max-width: 1200px;
    margin: 0 auto;

    // background-color: #303B4C;



}


@media only screen and (max-width: 1200px) {
    
    .App {
        padding: 0 20px;


    }

}


